[submodule "src/rf2o_laser_odometry"]
	path = src/rf2o_laser_odometry
	url = https://github.com/MAPIRlab/rf2o_laser_odometry.git
[submodule "src/gscam"]
	path = src/gscam
	url = https://github.com/ros-drivers/gscam.git
[submodule "src/hector_slam"]
	path = src/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "src/imu_tools"]
	path = src/imu_tools
	url = https://gitlab-edu.aot.tu-berlin.de/small_autonomous_driving/imu_tools.git
[submodule "src/pid"]
	path = src/pid
	url = https://bitbucket.org/enwaytech/pid.git
[submodule "src/racecar"]
	path = src/racecar
	url = https://github.com/mit-racecar/racecar.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "buildLibrealsense2TX"]
	path = buildLibrealsense2TX
	url = https://gitlab-edu.aot.tu-berlin.de/small_autonomous_driving/buildLibrealsense2TX.git
[submodule "src/vesc"]
	path = src/vesc
	url = https://gitlab-edu.aot.tu-berlin.de/small_autonomous_driving/vesc.git
	branch = master
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
